<h1>ユーザ一覧</h1>

<% @users.each do |user| %>
    <p><%= user.name %></p>
    
    <% follow = Follow.find_by(user_id: @login_user.id, following_user_id:user.id) %>
    <% if follow.nil? %>
        <p>フォローしていません</p>  
    <% else %>
        <p>フォローしています</p> 
    <% end %>
<% end %>
