<h1>ホーム</h1>
<%= link_to 'ユーザ登録', '/users/new' %>
<br>

<% if @login_user.nil? %>
    <p>ログインしていません</p>
<% else %>
    <%= @login_user.name + 'でログインしています' %>
    </br>
    <%= link_to '新規投稿画面', new_post_path %>
<% end %>


